In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

### Логистическая регрессия
Логистическая регрессия используется для задач классификации, 
при этом вычисляется вероятность принадлежности  
события к определенному классу.  
  
Задача алгоритма логистической регрессии - найти  
подходящие коэффициенты <code>w</code> при признаках <code>x</code>:  

<code>w<sub>0</sub> + w<sub>1</sub>x<sub>1</sub> + w<sub>2</sub>x<sub>2</sub> + ... +  + w<sub>m</sub>x<sub>m</sub></code>  
  
Величина z помещается в сигмоидную функцию для вычисления вероятности:  
  
<code>f(x) = 1 / (1 + e<sup>-z</sup>)</code>  
  
Значение <code>f(x)</code> будет расположено на отрезке [0, 1].  
<code>f(x)</code> - вероятность отнесения события к классу 1  
<code>1 - f(x)</code> - вероятность отнесения события к классу 0  
  
**Log loss**  
Алгоритм логистической регрессии минимизирует величину logloss:  
<code>logloss = -y * ln(p) - (1 - y) * ln(1 - p)</code>  
где <code>y</code> - истинное значение (0 или 1)  
p - вычисленная алгоритмом вероятность того, что событие принадлежит классу 1  (***f(x)***)

### Titanic
Для изучения классификации мы будем использовать  
датасет с информацией о пассажирах Титаник с сайта Kaggle.com

In [3]:
data = pd.read_csv('input/train.csv')

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Установим в качестве индекса PassengerId - так нам будет проще отслеживать, с информацией о каком пассажире мы работаем

In [10]:
data = data.set_index('PassengerId')

In [11]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [12]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

Наша задача - определить, выжил ли человек при крушении Титаника  
В поле Survived выжившие пассажиры обозначены единицей, а утонувшие - нулем

In [13]:
target = 'Survived'
y = data[target]
y

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    0
890    1
891    0
Name: Survived, Length: 891, dtype: int64

In [14]:
X = data.drop(target, axis = 1)

In [15]:
X.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,
1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Изуление качества данных и их очистка

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Name      891 non-null    object
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Ticket    891 non-null    object
 7   Fare      891 non-null    float64
 8   Cabin     204 non-null    object
 9   Embarked  889 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 76.6+ KB

В поле Cabin слишком много пропущенных значений,  
в этом уроке мы не будем го использовать.  
Стобцы Name и Ticket также в этот раз не рассматриваем.
Удалим эти поля:

In [17]:
X = X.drop(['Cabin', 'Name', 'Ticket'], axis = 1)

В поле возраст 20% значений не заполнено. Заменим пропущенные значения на значения среднего возраста.

In [18]:
mean_age = X['Age'].mean()
mean_age

29.69911764705882

In [19]:
X['Age'] = X['Age'].fillna(mean_age)
X['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

В поле Embarked, которое являтся текстовым, не хватает двух значений,  
заполним пропущеные значения

In [20]:
X['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [22]:
embarked_mode = X['Embarked'].mode()[0]
embarked_mode

'S'

In [24]:
X['Embarked'] = X['Embarked'].fillna(embarked_mode)
X['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 55.7+ KB

### Работа с категориальными признаками
Признак пола пассажира (Sex) - категориальная переменная. Так как в ней два класса,  
то мы можем представить одной колонкой со  
значениями 0 и 1:

In [26]:
X['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [27]:
X['Sex'] = (X['Sex'] == 'female').astype(int)
X['Sex'].value_counts()

0    577
1    314
Name: Sex, dtype: int64

Еще одна категориальная переменная - Embarked.
Преобразуем ее значения в dummy-переменные.

In [28]:
X = pd.get_dummies(X)
X.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,
1,3,0,22.0,1,0,7.2500,0,0,1
2,1,1,38.0,1,0,71.2833,1,0,0
3,3,1,26.0,0,0,7.9250,0,0,1
4,1,1,35.0,1,0,53.1000,0,0,1
5,3,0,35.0,0,0,8.0500,0,0,1

In [29]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Pclass      891 non-null    int64
 1   Sex         891 non-null    int64
 2   Age         891 non-null    float64
 3   SibSp       891 non-null    int64
 4   Parch       891 non-null    int64
 5   Fare        891 non-null    float64
 6   Embarked_C  891 non-null    uint8
 7   Embarked_Q  891 non-null    uint8
 8   Embarked_S  891 non-null    uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 51.3 KB

In [30]:
X['Pclass'].unique()

array([3, 1, 2])

In [31]:
X['Pclass'] = X['Pclass'].astype('category')

In [32]:
X = pd.get_dummies(X)
X.columns

Index(['Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q',
       'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [33]:
X.head(10)

,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
PassengerId,,,,,,,,,,,
1,0,22.000000,1,0,7.2500,0,0,1,0,0,1
2,1,38.000000,1,0,71.2833,1,0,0,1,0,0
3,1,26.000000,0,0,7.9250,0,0,1,0,0,1
4,1,35.000000,1,0,53.1000,0,0,1,1,0,0
5,0,35.000000,0,0,8.0500,0,0,1,0,0,1
6,0,29.699118,0,0,8.4583,0,1,0,0,0,1
7,0,54.000000,0,0,51.8625,0,0,1,1,0,0
8,0,2.000000,3,1,21.0750,0,0,1,0,0,1
9,1,27.000000,0,2,11.1333,0,0,1,0,0,1
10,1,14.000000,1,0,30.0708,1,0,0,0,1,0

### Цель разбиения данных на тренировочный, валидационный и тестовый датасеты
В этот раз будет более работать с разделением данных для модели более тщательно,  
мы разобьем данные из файла train.csv на две части:  
тренировачный набор данных (признаки в X_train, целевая переменная в y_train)  
и валидационные (соответственно X_valid, y_valid).  
На тренировочном датасете мы будем строить модель, а на валидационном - проверять ее качество.  
После проверки на валидационном сете можно будет окончательно проверить модель на тестовом сете  
(содержится в файле test.csv по вышеуказанной ссылке -  
фактическое значение целевой переменной в тестовом наборе отсутствует,  
рекомендуем самостоятельно проверить точность данных при отправке решенияна странице соревнования).

In [34]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.25, random_state = 42)

### Построение модели
В начале работы над любой задачей рекомендуется сначала сделать простую модель,  
не затрачивая большого количества времени.  
Замем можно будет оценивать новые модели, сравнивая их качество  
с качеством первональной (базовой) модели.

Сначала посмотрим на информацию о признаках:

In [35]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 299 to 103
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Sex         668 non-null    int64
 1   Age         668 non-null    float64
 2   SibSp       668 non-null    int64
 3   Parch       668 non-null    int64
 4   Fare        668 non-null    float64
 5   Embarked_C  668 non-null    uint8
 6   Embarked_Q  668 non-null    uint8
 7   Embarked_S  668 non-null    uint8
 8   Pclass_1    668 non-null    uint8
 9   Pclass_2    668 non-null    uint8
 10  Pclass_3    668 non-null    uint8
dtypes: float64(2), int64(3), uint8(6)
memory usage: 35.2 KB

Все признаки - числовые, поэтому мы можем построить модель, используя все признаки.

In [37]:
lr = LogisticRegression()

In [38]:
lr.fit(X_train, y_train)

LogisticRegression()

In [39]:
y_pred = lr.predict(X_valid)
y_pred

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 1, 0])

Метрика Accuracy (доля правильных ответов)

In [40]:
from sklearn.metrics import accuracy_score

In [41]:
accuracy_score(y_valid, y_pred)

0.8026905829596412

### Вычисление вероятности событий

In [42]:
y_proba = lr.predict_proba(X_valid)

In [44]:
# Вероятности событий 0 и 1 для каждого пассажира
y_proba

array([[0.88803847, 0.11196153],
       [0.7306994 , 0.2693006 ],
       [0.8701565 , 0.1298435 ],
       [0.08991937, 0.91008063],
       [0.25062013, 0.74937987],
       [0.07826308, 0.92173692],
       [0.33446955, 0.66553045],
       [0.90522439, 0.09477561],
       [0.2454247 , 0.7545753 ],
       [0.10340606, 0.89659394],
       [0.69433675, 0.30566325],
       [0.93487212, 0.06512788],
       [0.6248471 , 0.3751529 ],
       [0.84761359, 0.15238641],
       [0.75859309, 0.24140691],
       [0.07898047, 0.92101953],
       [0.72748705, 0.27251295],
       [0.33438488, 0.66561512],
       [0.70247546, 0.29752454],
       [0.70651164, 0.29348836],
       [0.88386344, 0.11613656],
       [0.64286508, 0.35713492],
       [0.39821921, 0.60178079],
       [0.86944939, 0.13055061],
       [0.89833287, 0.10166713],
       [0.92821101, 0.07178899],
       [0.56597441, 0.43402559],
       [0.72832999, 0.27167001],
       [0.91442869, 0.08557131],
       [0.42638415, 0.57361585],
       [0.86654161, 0.13345839],
       [0.35847561, 0.64152439],
       [0.48100119, 0.51899881],
       [0.41666523, 0.58333477],
       [0.86273765, 0.13726235],
       [0.86423028, 0.13576972],
       [0.58764893, 0.41235107],
       [0.33446955, 0.66553045],
       [0.06807562, 0.93192438],
       [0.90119357, 0.09880643],
       [0.71253278, 0.28746722],
       [0.92109508, 0.07890492],
       [0.9011276 , 0.0988724 ],
       [0.86537362, 0.13462638],
       [0.43710567, 0.56289433],
       [0.91111173, 0.08888827],
       [0.86639573, 0.13360427],
       [0.87988995, 0.12011005],
       [0.8842798 , 0.1157202 ],
       [0.66870946, 0.33129054],
       [0.26566212, 0.73433788],
       [0.21285972, 0.78714028],
       [0.96298628, 0.03701372],
       [0.48735373, 0.51264627],
       [0.95175076, 0.04824924],
       [0.07958273, 0.92041727],
       [0.73690369, 0.26309631],
       [0.05298538, 0.94701462],
       [0.18635009, 0.81364991],
       [0.26337575, 0.73662425],
       [0.87378271, 0.12621729],
       [0.11635229, 0.88364771],
       [0.18917577, 0.81082423],
       [0.61164065, 0.38835935],
       [0.86537362, 0.13462638],
       [0.32636278, 0.67363722],
       [0.59337751, 0.40662249],
       [0.89920762, 0.10079238],
       [0.84631692, 0.15368308],
       [0.13239036, 0.86760964],
       [0.20087247, 0.79912753],
       [0.03546013, 0.96453987],
       [0.45259648, 0.54740352],
       [0.10171143, 0.89828857],
       [0.88058404, 0.11941596],
       [0.93331822, 0.06668178],
       [0.34015579, 0.65984421],
       [0.06395438, 0.93604562],
       [0.20747902, 0.79252098],
       [0.55916015, 0.44083985],
       [0.94376431, 0.05623569],
       [0.16602726, 0.83397274],
       [0.0836935 , 0.9163065 ],
       [0.86538062, 0.13461938],
       [0.68121597, 0.31878403],
       [0.75868301, 0.24131699],
       [0.06208461, 0.93791539],
       [0.06058705, 0.93941295],
       [0.69896977, 0.30103023],
       [0.90146943, 0.09853057],
       [0.85427487, 0.14572513],
       [0.55669107, 0.44330893],
       [0.80497867, 0.19502133],
       [0.86538526, 0.13461474],
       [0.90119357, 0.09880643],
       [0.89630139, 0.10369861],
       [0.76407474, 0.23592526],
       [0.93677955, 0.06322045],
       [0.19722727, 0.80277273],
       [0.89329274, 0.10670726],
       [0.82395203, 0.17604797],
       [0.91549329, 0.08450671],
       [0.04789295, 0.95210705],
       [0.92260519, 0.07739481],
       [0.90337108, 0.09662892],
       [0.91106957, 0.08893043],
       [0.26921525, 0.73078475],
       [0.71977464, 0.28022536],
       [0.90135834, 0.09864166],
       [0.56210141, 0.43789859],
       [0.12402671, 0.87597329],
       [0.87230192, 0.12769808],
       [0.06658404, 0.93341596],
       [0.65759798, 0.34240202],
       [0.38071841, 0.61928159],
       [0.86911056, 0.13088944],
       [0.77149978, 0.22850022],
       [0.654358  , 0.345642  ],
       [0.17912131, 0.82087869],
       [0.6889056 , 0.3110944 ],
       [0.80330626, 0.19669374],
       [0.05893104, 0.94106896],
       [0.26468067, 0.73531933],
       [0.55653831, 0.44346169],
       [0.88739467, 0.11260533],
       [0.52803392, 0.47196608],
       [0.18520894, 0.81479106],
       [0.37988753, 0.62011247],
       [0.3515792 , 0.6484208 ],
       [0.87363696, 0.12636304],
       [0.33433143, 0.66566857],
       [0.88803847, 0.11196153],
       [0.73248884, 0.26751116],
       [0.24146691, 0.75853309],
       [0.66282459, 0.33717541],
       [0.25370011, 0.74629989],
       [0.04698153, 0.95301847],
       [0.89925114, 0.10074886],
       [0.93105007, 0.06894993],
       [0.37932253, 0.62067747],
       [0.87343358, 0.12656642],
       [0.27945528, 0.72054472],
       [0.70907109, 0.29092891],
       [0.79886083, 0.20113917],
       [0.54858921, 0.45141079],
       [0.23903708, 0.76096292],
       [0.7219998 , 0.2780002 ],
       [0.89185998, 0.10814002],
       [0.0513602 , 0.9486398 ],
       [0.93291127, 0.06708873],
       [0.84544378, 0.15455622],
       [0.88406051, 0.11593949],
       [0.86288218, 0.13711782],
       [0.37708858, 0.62291142],
       [0.9011276 , 0.0988724 ],
       [0.90155472, 0.09844528],
       [0.87837437, 0.12162563],
       [0.33442946, 0.66557054],
       [0.23124938, 0.76875062],
       [0.43800974, 0.56199026],
       [0.81899082, 0.18100918],
       [0.61092734, 0.38907266],
       [0.77561116, 0.22438884],
       [0.0686839 , 0.9313161 ],
       [0.86497678, 0.13502322],
       [0.73750205, 0.26249795],
       [0.67788504, 0.32211496],
       [0.12409848, 0.87590152],
       [0.87718186, 0.12281814],
       [0.91552116, 0.08447884],
       [0.42368885, 0.57631115],
       [0.15455025, 0.84544975],
       [0.65748983, 0.34251017],
       [0.24318345, 0.75681655],
       [0.85947018, 0.14052982],
       [0.84637506, 0.15362494],
       [0.68305074, 0.31694926],
       [0.11970719, 0.88029281],
       [0.31135889, 0.68864111],
       [0.71985263, 0.28014737],
       [0.67525746, 0.32474254],
       [0.90750129, 0.09249871],
       [0.91357966, 0.08642034],
       [0.53306524, 0.46693476],
       [0.23858692, 0.76141308],
       [0.71853681, 0.28146319],
       [0.64782417, 0.35217583],
       [0.90119357, 0.09880643],
       [0.60066192, 0.39933808],
       [0.22914658, 0.77085342],
       [0.93909253, 0.06090747],
       [0.74138404, 0.25861596],
       [0.88856063, 0.11143937],
       [0.89849801, 0.10150199],
       [0.2924692 , 0.7075308 ],
       [0.12249792, 0.87750208],
       [0.03535011, 0.96464989],
       [0.74676931, 0.25323069],
       [0.08453879, 0.91546121],
       [0.57230696, 0.42769304],
       [0.96131073, 0.03868927],
       [0.41768969, 0.58231031],
       [0.10789888, 0.89210112],
       [0.67072689, 0.32927311],
       [0.80192261, 0.19807739],
       [0.34551012, 0.65448988],
       [0.89850533, 0.10149467],
       [0.67775669, 0.32224331],
       [0.84180313, 0.15819687],
       [0.94555781, 0.05444219],
       [0.31993081, 0.68006919],
       [0.90231505, 0.09768495],
       [0.08446965, 0.91553035],
       [0.86538761, 0.13461239],
       [0.6248471 , 0.3751529 ],
       [0.90026335, 0.09973665],
       [0.19281434, 0.80718566],
       [0.64364598, 0.35635402],
       [0.15742691, 0.84257309],
       [0.90146943, 0.09853057],
       [0.90119357, 0.09880643],
       [0.14370258, 0.85629742],
       [0.89868834, 0.10131166]])

Нас интересует вероятность события 1 (правый столбец) -  
при получении ответа значения из него округляется до 0 или до 1

***Сохранение данных***  
  
Сохраним обработанные данные, они пригодятся для следующих уроков

In [45]:
X_train.to_pickle('X_train.pkl')
y_train.to_pickle('y_train.pkl')

X_valid.to_pickle('X_valid.pkl')
y_valid.to_pickle('y_valid.pkl')